@import '../../../colors.scss';
@import '../../../dimens.scss';

.Header-container {
    display: flex;
    flex-direction: row;
    //grid-template-rows: 100%;
    //grid-template-columns: auto, auto, auto, auto, auto;
    //grid-template-areas: "title new slider methods sort github";
    height: 5rem;
    background-color: $assent-color;
}

.Menu-wrapper {
    width: 100%;
    height: 2.5rem; 
    display: flex;
    align-items: center;
}

.Header-container .Title-container,
.Header-container .New-container,
.Header-container .Slider-container,
.Header-container .Select-container,
.Header-container .Sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
}

.Header-container .Title-container {
    justify-content: start;
}

/*
.Header-container .Title-container {
    grid-area: title;
}

.Header-container .New-container {
    grid-area: new;
}

.Header-container .Slider-container {
    grid-area: slider;
}

.Header-container .Select-container {
    grid-area: methods;
}

.Header-container .Sort-container {
    grid-area: sort;
}

.Header-container .GitHub-button-wrapper {
    grid-area: github;
}
*/

@media (max-width: 556px) {
    .Header-container {
        height: 4rem;
    }

    .Menu-wrapper {
        position: absolute;
        top: 4rem;
        right: 0;
        padding: 1rem;
        background-color: darkcyan;
    }

    .Header-container .Title-container {
        display: none;
    }
}
