$blue: #1FAAFF;
$green: #0EBD5A;
$yellow: #FFDA00;
$red: #FF5777;

$primary-color: #F4F5FE;
$secondary-color: #3D486F;
$assent-color: #FFFFFF;
$background-color: #F2F2F2;
$text-color: #262626;
// For bars state
$normal-state-color: $blue;
$correct-state-color: $green;
$veryfing-state-color: $yellow;
$switching-state-color: $red;
$pivot-state-color: #000000; // Change for purple.

.blue {
    background-color: $blue;
}

.green {
    background-color: $green;
}